<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/cart.css"}) %>

  <body>
    <%- include('../partials/nav-bar') %>
      <main>
        <section id="main">
          <h1 class="text-center">Carrito de compras</h1>
          <div class="detailsWrapper">
            <section class="product">
              <% for (const p of results) { %>
                <article class="singleProductWrapper">
                  <img src="/images/ropa-deportiva/<%= p.images[0].image_route %>" alt="" />
                  <div class="text-container">
                    <p>
                      <%= p.name %>
                    </p>
                    <div class="add">
                      <form action="/cart/substract/<%= p.cart_id %>/<%=locals.userLogged.id%>" method="POST">
                        <button type="submit" class="left">
                          <i class="fas fa-minus"></i>
                        </button>
                      </form>
                      <input type="text" placeholder="2" name="search" value="<%= p.quantity %>" />
                      <form action="/cart/add/<%= p.cart_id %>/<%=locals.userLogged.id%>" method="POST">
                        <button type="submit" class="right">
                          <i class="fas fa-plus"></i>
                        </button>
                      </form>
                    </div>
                    <form action="/cart/remove/<%= p.cart_id %>/<%=locals.userLogged.id%>" method="POST"
                      style="display: inline-flex">
                      <button type="submit" class="deleteButton">Quitar articulo</button>
                    </form>
                  </div>
                  <p>
                    <%=new Intl.NumberFormat('es-CO', { style: 'currency' , currency: 'COP' }).format(p.price) %>
                  </p>
                </article>
                <%} %>
            </section>
            <section class="payment">
              <article>
                <table>
                  <thead>
                    <tr>
                      <th colspan="2">Total de carrito</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Subtotal</td>
                      <td>
                        <%=new Intl.NumberFormat('es-CO', { style: 'currency' , currency: 'COP' }).format(subtotal) %>
                      </td>
                    </tr>
                    <tr>
                      <td>Envio</td>
                      <td>$10.000</td>
                    </tr>
                    <tr>
                      <td><strong>Total</strong></td>
                      <td><strong>
                          <%=new Intl.NumberFormat('es-CO', { style: 'currency' , currency: 'COP' }).format(total) %>
                        </strong></td>
                    </tr>
                  </tbody>
                </table>
              </article>
            </section>
          </div>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>