<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/edit.css"}) %>

    <body>
        <%- include('../partials/nav-bar') %>
            <main>
                <form class="text-center" action="/products/edit/<%=toEdit.id%>" method="POST"
                    enctype="multipart/form-data">
                    <div class="edit-container">
                        <h2 class="text-center">Edita tu producto: <i>
                                <%= toEdit.name %>
                            </i></h2>
                        <h3 class="text-center mb-4">Informacion del producto</h3>

                        <div class="form-group mb-4">
                            <label for="exampleFormControlSelect1">Categoria del producto</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="category_id">
                                <% var options=[ "Destacado" , "Deporte" , "Hombre" , "Mujer" , "Niño" ]; for ( var i=0;
                                    i < options.length; i++ ) { var selected=( toEdit.category==i+1 ) ? "selected" : "" ;
                                    %>
                                    <option value="<%=i+1%>" <%=selected %>><%=options[ i ] %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1">Nombre del producto</label>
                            <input class="form-control" id="product_name" name="product_name" type="text"
                                value="<%= toEdit.name %>">
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1">Descripcion del producto</label>
                            <textarea class="form-control" id="product_description" rows="5"
                                name="product_description"><%=toEdit.description %></textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1">Precio del producto</label>
                            <input class="form-control" id="product_price" name="product_price" type="text"
                                value="<%= toEdit.price %>">
                        </div>
                        <input class="guardar mt-1 mb-4" name="button1" value="Guardar" type="submit">
                </form>
                <h3 class="text-center mb-4">Imagenes del producto</h3>

                <div class="form-group mb-4">
                    <form action="/products/addImage/<%= toEdit.id %>" method="POST" enctype="multipart/form-data">
                        <div class="input-group my-4">
                            <label class="input-group-text" for="userImage">Agregar imagen</label>
                            <input type="file" class="form-control" name="product_image" id="product_image">
                            <input class="btn btn-primary" type="submit" value="Agregar" />
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre de la imagen</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const p of toEdit.images) { %>
                                <tr>
                                    <td class="text-start">
                                        <%= p.image_route %>
                                    </td>
                                    <td class="text-center">
                                        <form action="/products/removeImage/<%= p.id %>/<%= toEdit.id %>" method="POST">
                                            <input class="btn btn-primary" name="button2" type="submit"
                                                value="Eliminar" />
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>