<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/profile.css"}) %>

    <body>
        <%- include('../partials/nav-bar') %>
            <main>
                <div class="container  custom-container">
                    <h2 class="text-center mb-5">Listado de usuarios</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Email</th>
                                <th scope="col">Rol</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const p of users) { %>
                                <tr>
                                    <td>
                                        <%= p.first_name %>
                                    </td>
                                    <td>
                                        <%= p.last_name %>
                                    </td>
                                    <td>
                                        <%= p.email %>
                                    </td>
                                    <td>
                                        <%= p.role %>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="/auth/profile/<%= p.id %>">Editar</a>
                                                </li>
                                                <li>
                                                    <form action="/auth/setAdmin/<%= p.id %>" method="POST">
                                                        <input class="dropdown-item" type="submit" value="Hacer Administrador" />
                                                    </form>
                                                </li>
                                                <li>
                                                    <form action="/auth/setUser/<%= p.id %>" method="POST">
                                                        <input class="dropdown-item" type="submit" value="Hacer Usuario" />
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>

                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>